body {
    font-family: sans-serif;
    text-align: center;
    background: #b1b1b1;
    background-image: url("Biblioteca.jpg");
}

form {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 300px;
    background: #bfbfbf;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    cursor: pointer;
}

.error {
    color: red;
}

button:hover {
    background-color: #0560c2;
    color: rgb(255, 255, 255);
    border: none;
}


