/* =====> Importar fuentes <===== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* =====> Configuracion inicial de las paginas <===== */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.registro {
    font-family: sans-serif;
    text-align: center;
    background: #b1b1b1;
    background-image: url("../imagenes/Biblioteca.jpg");
    background-size: cover;
}



/* =====> Estilo para el menu <===== */
.menu {
    background-color: #1d2d44;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: "Playfair Display", serif;
}

.titulo a{
    text-decoration: none;
    color: white;
    transition: all 0.8s ease;
    cursor: pointer;
}

.titulo a:hover{
    text-shadow: 0px 15px 5px #90e0ef;
    color: #90e0ef;
}

.links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 65vh;
    font-family: "Open Sans", sans-serif;
    gap: 2em;
}

.links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.8s ease;
    cursor: pointer;
}

.links a:hover{
    text-shadow: 0px 15px 5px #90e0ef;
    color: #90e0ef;
}

/* =====> Estilo para el regitro <===== */

form {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 300px;
    background: #bfbfbf;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    cursor: pointer;
}

.error {
    color: red;
}

button:hover {
    background-color: #007BFF;
    color: white;
    border: none;
}